/*header*/
header{
    text-align: center;
}
#description{
    padding-bottom: 50px;
}
#identification{
    display: flex;
    justify-content: center;
}
#nom{
    padding-right: 15px;
}
#choix{
    display: flex;
    justify-content: center;
}

/*Tableau de bord*/
#tableauDeBord{
    padding:0px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}
#Message{
    display: flex;
}
#Paramètres{
    display:flex;
}
#Confidentialité{
    display:flex;
}
#Notifications{
    display:flex;
}
#Compte{
    display: flex;
}
#FAQ{
    display: flex;
}
.liensTab{
    padding-left: 60px;
}

/*Ma vitrine*/
#maVitrine{
    padding:0px 100px 0px 100px;
}
#Vitrine{
    display: flex;
   justify-content:space-between ;
}
#plat1{
    margin-bottom: 20px;
}
#plat2{
    margin-bottom: 20px;
}
#plat3{
    margin-bottom: 20px;
}
#plat4{
    margin-bottom: 20px;
}
.plat{
    background-color: #ffd96d;
   
}
#carte{
    display: flex;
    justify-content: space-between;
}
.modif{
    padding-right: 100px;
    padding-top: 20px;
    width: 50px;
    cursor: pointer;
}
.supp{
    padding-right: 50px;
    width: 50px;
    cursor: pointer;
}
#avis{
    display: flex;
}
.comment{
    padding-left: 40px;
}